.m1{
    display: flex;
    padding: 0;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #f3851b; ;
    text-decoration: none;
    color: #f3f3f3;
    /* background-color: #0000008a; */
    border-radius: 0%;
    font-weight: 600;   
    
}

#headnew{
    margin: 0%;
    width: 50%;
    border-radius: 0%;
    color: #f3851b; 
    background-color: #4d0b0b8a;
    border-bottom: 2px solid #f3851b; 
}

.ingresar{
    background-color: #000000a8;
    color: #f8a85d;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10%;
    font-family: Roboto;
}

.pareja{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 25px;
}

.emergen{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
    
    color: #f3f3f3;
    background-color: #0000008a;
    border-radius: 20%;
    
}
#tercero{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../img/turis1.png") no-repeat center center fixed ;
 
   /* Full height    height: 65px;  */
   
   min-height: 97vh;
 
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.volver{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    border-radius: 4px;
    cursor: pointer;
    height: 35px;
    background: #ff0000;
    color: #FFF;
    font-size: 20px;
}
.toDoInput {
    background: rgba(0,0,0,0.55);
      border: none;
      outline: none;
      border-bottom: 2px solid #f3851b; 
      width: 70%;
      padding: 12px;
      margin-top: 20px;
      border-radius: 2px;
      font-size: 14px;
      color: #fff;
      font-family: Roboto;
  }

  .addButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin-left: 10px;
    border-radius: 30%;
    cursor: pointer;
    height: 35px;
    background: #767c73;
    color: rgb(17, 0, 255);
    font-size: 20px;
  }
 
 