
#tercer{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    
    background: url("../img/turis18.png");
 
   /* Full height    height: 65px;  */
   
   min-height: 97vh;
 
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   font-weight: 900;
}

#actvlist{
    display: flex;
    justify-content: space-evenly;
    border-radius: 6%;
    background: #b6f1f1b4;
    color: rgb(0, 0, 0);
    font-weight: 800;
    width: 100%;

}

.detallehead{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #b6f1f1b4;
    color: rgb(0, 0, 0);
    font-weight: 800;
    width: 300px;
    border-bottom: 2px solid #f3851b; 
}

.volverhome{
    background: #5687e4b4;
    color: rgb(0, 0, 0);
}