.element{
    background-color: #024b478e;
    color: #ffffff;
    font-weight: 600;
    border-radius: 10%;
}
.contenendor{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;  
    height: 45px;
    width: 380px;
}