.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;  
    width:800px;
      
}
.indicador{
    background-color:#f3851b;
    color:  #000000;
    font-weight: 600;
    
}
#botonizq{
    background: url("../img/botonIzqu.png");
    padding: 0px;  
    height: 45px;
    width: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
#btnder{
    background: url("../img/botonDerecha.png");
    padding: 0px;  
    height: 45px;
    width: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}